@import "~react-image-gallery/styles/css/image-gallery.css";

#globalnav a.active {
  color: red;
}

section {
  display: flex;
  flex-direction: column;

  align-items: center;
}
html,
#root,
body,
#main-container {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

article {
  /* min-width: 30em; */
}
